{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="font-weight-bold mt-5 mb-5 text-black text-center">
        <br/> Welcome to Online Nutritionist <br/>
        
    </h1>  
    <h5 style="text-align:center"><p>...Physical fitness is the first requisite of happiness...</p></h5>                         
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1600x900/?nutrition" class="d-block w-100" alt="...">    
    </div>
  </div>
</div> 
</div>

{% endblock %}

