{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container p-5">

    <div class="row">

        <div class="col-md-4">

            <div class="card mb-3">

                {% if profile.image %}
                <img
                        alt="{{ user.name }}"
                        class="card-img-top"
                        src="{{ profile.image.url }}"
                        height="300px"
                >

                {% else %}
                <img
                        alt="{{ user.name }}"
                        class="card-img-top"
                        src="{% static 'images/user-placeholder.jpg' %}"
                        height="300px"
                >
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ user.name }}</h2>
                </div>

                {% if request.user == user %}
                <div class="card-footer">
                    <a class="btn btn-primary btn-block" href="{% url 'nutritionist-edit-profile' %}">
                        <i class="fas fa-pencil-alt me-2"></i>Edit Your Profile
                    </a>
                </div>
                {% endif %}
            </div>

        </div>


        <div class="col-md-8">

            <div class="p-5">
                <div class="row">
                    <div class="col-lg-6">
                        Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a><br/><br/>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-lg-6">
                        Mobile: <a href="tel:{{ profile.phone }}">{{ profile.phone }}</a><br/><br/>
                    </div>
                </div>    
                    <div class="col-lg-6">
                        Gender: <b>{{ profile.gender }}</b>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
